<div class="page-holder bg-cover">
  <div id="background-div" class="container py-5 ">

    <header class="text-left text-white py-5">

      <h3 class="mb-4 rounded"><a href="#start-shopping" class="bg-white px-2 py-2 rounded" id="heading">Start
          Shopping</a></h3>

    </header>

  </div>
</div>

<div id="start-shopping" class="container">
  <div class="row">
    <div class="col-12 text-left">
      <h2 class="pt-4 pb-4">Top Categories</h2>
    </div>
  </div>



  <div class="container">
    <div class="row inline" id="gap">

      <div class="card" style="width: 20rem;">
        <img class="card-img-top " id="image"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVBT54yM2wK4M78Ydr_mGCd5bBxQ4RTGOtIw&usqp=CAU"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Fast Foods</h5>
          <p class="card-text" id="description">Eating fast food items helps you to manage a schedule more effectively.
          </p>
          <a routerLink="/category" routerLinkActive="active" class="btn btn-primary">View</a>
        </div>
      </div>

      <div class="card" style="width: 20rem;">
        <img class="card-img-top" id="image"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX5Xh-lIvxD0MxicFfBIp5Khi_dWRkRedcQQ&usqp=CAU"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Dairy Items</h5>
          <p class="card-text" id="description">Dairy products include food items such as yogurt, cheese and butter. A
            facility that produces dairy products is known as a dairy, or dairy factory..</p>
          <a routerLink="/category" routerLinkActive="active" class="btn btn-primary">View</a>
        </div>
      </div>

      <div class="card" style="width: 20rem;">
        <img class="card-img-top" id="image"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6SjYxZXy_JKZ6NhUw1ZlY2uLry91NcHxN6A&usqp=CAU"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Fruits</h5>
          <p class="card-text" id="description">Fruit is the sweet, fleshy, edible part of a plant. It generally
            contains seeds. Fruits are usually eaten raw, although some varieties can be cooked. They come in a wide
            variety of colours, shapes and flavours..</p>
          <a routerLink="/category" routerLinkActive="active" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <hr> -->
<div class="container">
  <div class="row">
    <div class="col-12 text-left">
      <h2 class="pt-4 pb-4">Top Products</h2>
    </div>



    <div class="container">
      <div class="row inline" id="gap1">

        <div class="col-sm-3 ">
          <div class="card mb-4" id="card1">
            <img src="../../assets/watermillen.jfif" class="card-img-top" id="image">
            <div class="card-body">
              <h5 id="name">Watermelon</h5>
              <h5>Price:{{50| currency:"INR":"symbol"}}</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="card mb-4" id="card1">
            <img src="../../assets/milk.jfif" class="card-img-top" id="image">
            <div class="card-body">
              <h5 id="name">Milk</h5>
              <h5>Price:{{20| currency:"INR":"symbol"}}</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="card mb-4" id="card1">
            <img src="../../assets/orange.jfif" class="card-img-top" id="image">
            <div class="card-body">
              <h5 id="name">Orange</h5>
              <h5>Price:{{60| currency:"INR":"symbol"}}</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="card mb-4" id="card1">
            <img src="../../assets/Butter.jfif" class="card-img-top" id="image">
            <div class="card-body">
              <h5 id="name">Butter</h5>
              <h5>Price:{{75| currency:"INR":"symbol"}}</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="card mb-4" id="card1">
            <img src="../../assets/yougurt.jfif" class="card-img-top" id="image">
            <div class="card-body">
              <h5 id="name">Yogurt</h5>
              <h5>Price:{{25| currency:"INR":"symbol"}}</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="card mb-4" id="card1">
            <img src="../../assets/pasta.jfif" class="card-img-top" id="image">
            <div class="card-body">
              <h5 id="name">Pasta</h5>
              <h5>Price:{{20| currency:"INR":"symbol"}}</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="card mb-4" id="card1">
            <img src="../../assets/chips3.jfif" class="card-img-top" id="image">
            <div class="card-body">
              <h5 id="name">Chips</h5>
              <h5>Price:{{10| currency:"INR":"symbol"}}</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="card mb-4" id="card1">
            <img src="../../assets/maggi.jfif" class="card-img-center" id="image">
            <div class="card-body">
              <h5 class="card-title" id="name">Maggie</h5>
              <h5>Price:{{24| currency:"INR":"symbol"}}</h5>
            </div>
          </div>
        </div>
        <div>
          <a routerLink="/product" routerLinkActive="active" class="btn btn-primary">Show All Products</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>